<div class="main-card card">
  <div class="white-line">
  </div>
  <div class=" main-card-heading">
    <div style=" display: inline"></div>
    <h5 class=" card-header">Quantum</h5>
  </div>
  <div class="main-card-body card-body">
    <!-- body elements -->
    <div class="container ">
      <div class="row " style="float: center;">
        <div class="col-sm ">
          <button type="button" class="btn btn-primary btn-mg">IMPORT</button>
        </div>
        <div class="col-sm">
          <button type="button" class="btn btn-primary btn-mg">SEE TEMPLATE</button>
        </div>
        <div class="col-sm">
          <button type="button" class="btn btn-primary btn-mg">PREVIEW</button>
        </div>
        <div class="col-sm" style="float: right;">
          <button type="button" class="btn btn-primary btn-mg">EXPORT</button>
        </div>

      </div>
    </div>

    <div class="container" style="margin-top: 25px;">
      <div class="container">
        <div class="row">
          <div class="col">
            <h5>SITE</h5>
            <button type="button" class="btn btn-secondary">Resources - Manpower (Admin)</button><br>
            <button type="button" class="btn btn-secondary">Resources - Equipment</button><br>
            <button type="button" class="btn btn-secondary">Resources - Transport</button>

          </div>
          <div class="col">
            <h5>WORK</h5>
            <button type="button" class="btn btn-secondary">Resources - Manpower (Work)</button><br>
            <button type="button" class="btn btn-secondary">Resources - Materials</button><br>
            <button type="button" class="btn btn-secondary">Resources - Utilities</button>

          </div>
          <div class="w-100" style="margin-top: 50px;"></div>
          <div class="col">
            <h5>LABOUR</h5>
            <button type="button" class="btn btn-secondary">Productivity</button><br>
            <button type="button" class="btn btn-secondary">Demobilisation</button><br>
            <button type="button" class="btn btn-secondary">Remobilisation</button>
          </div>
          <div class="col">
            <h5>OTHER</h5>
            <button type="button" class="btn btn-secondary">Subcontractor's Claims</button><br>
            <button type="button" class="btn btn-secondary">Damages</button><br>
            <button type="button" class="btn btn-secondary">Unpaid Claim</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
