<div class="main-card card">
  <div class="white-line" style="z-index: 2;">
  </div>
  <div class=" main-card-heading" style="z-index: 2;">
    <div style=" display: inline"></div>
    <h5 class=" card-header">Quantum</h5>
  </div>
  <div class="main-card-body card-body">
    <!-- body elements -->
    <div>

      <div class="row" style="margin-bottom: 30px;">
        <div class="col-sm">
          <button type="button" class="btn btn-info btn-mg" [routerLink]="['/data-import']"
            routerLinkActive="router-link-active">IMPORT</button>
          <button type="button" class="btn btn-info btn-mg" style="margin-left: 40px;">SEE TEMPLATE</button>
          <button type="button" class="btn btn-info btn-mg" style="margin-left: 40px;">PREVIEW</button>
        </div>
        <div class="col-sm-2" style="text-align: right;">
          <button type="button" class="btn btn-info btn-mg">EXPORT</button>
        </div>
        <div class="col-sm-1">

        </div>
      </div>


      <div class="row">
        <div class="col">
          <h5 class="sub-headings">SITE</h5>
          <button type="button" class="btn btn-primary">Resources - Manpower (Admin)</button><br>
          <button type="button" class="btn btn-primary">Resources - Equipment</button><br>
          <button type="button" class="btn btn-primary">Resources - Transport</button>

        </div>
        <div class="col">
          <h5 class="sub-headings">WORK</h5>
          <button type="button" class="btn btn-primary">Resources - Manpower (Work)</button><br>
          <button type="button" class="btn btn-primary">Resources - Materials</button><br>
          <button type="button" class="btn btn-primary">Resources - Utilities</button>

        </div>
        <div class="col-sm-1">

        </div>
        <div class="w-100" style="margin-top: 30px;"></div>
        <div class="col">
          <h5 class="sub-headings">LABOUR</h5>
          <button type="button" class="btn btn-primary">Productivity</button><br>
          <button type="button" class="btn btn-primary">Demobilisation</button><br>
          <button type="button" class="btn btn-primary">Remobilisation</button>
        </div>
        <div class="col">
          <h5 class="sub-headings">OTHER</h5>
          <button type="button" class="btn btn-primary">Subcontractor's Claims</button><br>
          <button type="button" class="btn btn-primary">Damages</button><br>
          <button type="button" class="btn btn-primary">Unpaid Claim</button>
          <button type="submit" class="btn btn-secondary float-right">Next</button>

        </div>
        <div class="col-sm-1">

        </div>
      </div>

    </div>
  </div>
</div>
