<div class="conatiner">
  <nav class="wafooter sticky-bottom">
    <div class="row">
      <div class="col-1 footer-elements" style="text-align: right; padding-right: 0;">
        ABOUT



      </div>
      <div class="col-1" style="margin-top: 7px; padding-left: 5px;">
        <img src=" /assets/images/footer-logo.png" id="icon" alt="User Icon"
          style="margin: 0px 0px  0px  0px; max-height: 60px; max-width: 60px; ">
      </div>
      <div class="col footer-elements">
        FAQ
      </div>
      <div class="col footer-elements">
        TERMS OF USE
      </div>
      <div class="col footer-elements">
        PRIVACY
      </div>
      <div class="col footer-elements">
        SUPPORT
      </div>
    </div>

  </nav>

</div>
