.wafooter {
  background-color: #305496;
  height: 75px;
  margin-left: 200px;
  color: #fbb335;
  font-size: 13px;
}

/* .row {
} */

.col {
  text-align: center;
}

.footer-elements {
  padding-top: 27px;
}
