<div class="main-card card">
  <div class="white-line">
  </div>
  <div class=" main-card-heading">
    <div style=" display: inline"></div>
    <h5 class=" card-header">IMPORT</h5>
  </div>
  <div class="main-card-body card-body">
    <!-- body elements -->
    <input type="file" multiple="false" (change)="onFileChange($event)">
    <br> <br>


    <!-- table -->
    <div *ngIf="isFileUploaded">
      <div class="search-table-outter wrapper">

        <br>
        <table>
          <tbody>
            <tr *ngFor="let row of data">
              {{incrementRowIndex()}}
              <td *ngFor="let cell of row">
                <div *ngIf="rowIndex==1 && columnIndex!=0 && columnIndex!=1; else elseBlock">
                  <input type="number" value="{{columnIndex}}" #placeId hidden>
                  <button type="submit" style="width: 100%;" (click)=setDateIndex(placeId)>{{cell}}</button>
                </div>
                {{incrementColumnIndex()}}

                <!-- <div #elseBlock>
                {{cell}}
              </div> -->
                <ng-template #elseBlock>
                  <div>{{cell}}</div>
                </ng-template>

              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <br>


      <label for="inputEmail4">Select a month to import data</label>
      <div class="form-inline">
        <!-- <select class="form-control" (change)="onSelectedMonthChange($event)">
          <option value="" disabled selected hidden>Month</option>
          <option value='January'>January</option>
          <option value='February'>February</option>
          <option value='March'>March</option>
          <option value='April'>April</option>
          <option value='May'>May</option>
          <option value='June'>June</option>
          <option value='July'>July</option>
          <option value='August'>August</option>
          <option value='September'>September</option>
          <option value='October'>October</option>
          <option value='November'>November</option>
          <option value='December'>December</option>
        </select> -->

        <input type="month" id="bdaymonth" name="bdaymonth" (change)="onSelectedMonthChange($event)">

        <!-- start import button -->
        <div style="margin-left: 20px" *ngIf="importMonth!=0">
          <button type="button" class="btn btn-success" (click)="importData()">Import</button>
        </div>


      </div>






    </div>

  </div>
</div>
