<div class="main-card card">
  <div class="white-line">
  </div>
  <div class=" main-card-heading">
    <div style=" display: inline"></div>
    <h5 class=" card-header">IMPORT</h5>
  </div>
  <div class="main-card-body card-body">
    <!-- body elements -->
    <input type="file" multiple="false" (change)="onFileChange($event)">
    <br> <br>


    <!-- table -->
    <div *ngIf="isFileUploaded">
      <div class="search-table-outter wrapper">

        <br>
        <table class=" table table-bordered" style="background-color: white;">
          <tbody>
            <tr *ngFor="let row of data">
              <td *ngFor="let cell of row">
                <div>
                  {{cell}}
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <br>
      <label for="inputEmail4">Select a month to import data</label>
      <div class="form-inline">
        <input type="month" id="bdaymonth" name="bdaymonth" (change)="onSelectedMonthChange($event)">
        <!-- start import button -->
        <div style="margin-left: 20px" *ngIf="importMonth!=0">
          <button type="button" class="btn btn-success" (click)="importData()">Import</button>
        </div>
      </div>
    </div>
  </div>
</div>
