<form style="margin-top: 20px;">
  <div class="form-row">

    <div class="col">
      <label for="inputEmail4">Name of the Defendant</label>

      <input type="text" class="form-control" placeholder="Name">
    </div>
    <div class="col">
      <label for="inputEmail4">Contract Reference</label>

      <input type="text" class="form-control" placeholder="Reference">
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <label for="inputEmail4">Original Contract Price</label>

      <input type="text" class="form-control" placeholder="Price">
    </div>
    <div class="col">
      <label for="inputEmail4">Original Contract Duration</label>

      <input type="text" class="form-control" placeholder="Duration">
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <label for="inputEmail4">Commencement Date</label>

      <input type="text" class="form-control" placeholder="Date">
    </div>
    <div class="col">
      <label for="inputEmail4">Contract Working Hrs/Day</label>

      <input type="text" class="form-control" placeholder="Working Hrs/Day">
    </div>
  </div>

  <button type="submit" class="btn btn-secondary float-right">Next</button>
</form>
