<div class="main-card card">
  <div class="white-line" style="z-index: 2;">
  </div>
  <div class=" main-card-heading" style="z-index: 2;">
    <div style=" display: inline"></div>
    <h5 class=" card-header">Rates</h5>
  </div>
  <div class="main-card-body card-body">
    <!-- body elements -->
    <div>
      <div>
        <div class="row" style="margin-bottom: 40px; ">
          <div class="col-sm">
            <button type="button" class="btn btn-info btn-mg">IMPORT</button>
            <button type="button" class="btn btn-info btn-mg" style="margin-left: 40px;">SEE TEMPLATE</button>
            <button type="button" class="btn btn-info btn-mg" style="margin-left: 40px;"
              [routerLink]="['/rate-preview']">PREVIEW</button>
          </div>
          <div class="col-sm-2" style="text-align: right;">
            <button type="button" class="btn btn-info btn-mg">EXPORT</button>
          </div>
          <div class="col-sm-1">

          </div>
        </div>
      </div>

      <div>
        <div class="row">
          <div class="col-sm">
            <h5 class="sub-headings">PROJECT RATES</h5>
            <button type="button" class="btn btn-primary">Contract Commitments</button><br>
            <button type="button" class="btn btn-primary">Site Facilities</button><br>
            <button type="button" class="btn btn-primary">Site Administration Staff</button>
            <button type="button" class="btn btn-primary"> Equipment & Transport
            </button>

          </div>
          <div class="col-sm" style="padding-right: 0;">
            <div class=" col-sm">
              <h5 class="sub-headings">TENDER RATES</h5>
              <button type="button" class="btn btn-primary">Material</button><br>
              <button type="button" class="btn btn-primary">Labour</button><br>
            </div>
            <div class="col-sm" style="margin-top: 40px;">
              <h5 class="sub-headings">ACTUAL RATES</h5>
              <button type=" button" class="btn btn-primary">Material</button><br>
              <button type="button" class="btn btn-primary">Labour</button><br>
            </div>
            <button type="submit" class="btn btn-secondary float-right">Next</button>

          </div>

          <div class="col-sm-1" style="margin-top: 20px;">

          </div>

        </div>

      </div>


    </div>
  </div>
</div>
