<div class="main-card card">
  <div class="white-line" style="z-index: 2;">
  </div>
  <div class=" main-card-heading" style="z-index: 2;">
    <div style=" display: inline"></div>
    <h5 class=" card-header">Rates</h5>
  </div>
  <div class="main-card-body card-body">
    <!-- body elements -->
    <div class="container ">
      <div class="row " style="float: center;">
        <div class="col-sm ">
          <button type="button" class="btn btn-primary btn-mg">IMPORT</button>
        </div>
        <div class="col-sm">
          <button type="button" class="btn btn-primary btn-mg">SEE TEMPLATE</button>
        </div>
        <div class="col-sm">
          <button type="button" class="btn btn-primary btn-mg">PREVIEW</button>
        </div>
        <div class="col-sm" style="float: right;">
          <button type="button" class="btn btn-primary btn-mg">EXPORT</button>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="container">
        <div class="row">
          <div class="col-sm" style="margin-top: 50px;">
            <h5 class="sub-headings">PROJECT RATES</h5>
            <button type="button" class="btn btn-secondary">Contract Commitments</button><br>
            <button type="button" class="btn btn-secondary">Site Facilities</button><br>
            <button type="button" class="btn btn-secondary">Site Administration Staff</button>
            <button type="button" class="btn btn-secondary"> Equipment & Transport
            </button>

          </div>
          <div class="col-sm" style="margin-top: 50px;">
            <div class=" col-sm">
              <h5 class="sub-headings">TENDER RATES</h5>
              <button type="button" class="btn btn-secondary">Material</button><br>
              <button type="button" class="btn btn-secondary">Labour</button><br>
            </div>
            <div class="col-sm" style="margin-top: 50px;">
              <h5 class="sub-headings">ACTUAL RATES</h5>
              <button type=" button" class="btn btn-secondary">Material</button><br>
              <button type="button" class="btn btn-secondary">Labour</button><br>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
