<div class="main-card card">
  <div class="white-line" style="z-index: 2;">
  </div>
  <div class=" main-card-heading" style="z-index: 2;">
    <div style=" display: inline"></div>
    <h5 class=" card-header">Contemporary records</h5>
  </div>
  <div class="main-card-body card-body">
    <!-- body elements -->
    <div class="container ">
      <div class="row ">
        <div class="col-sm ">
          <button type="button" class="btn btn-primary btn-mg">IMPORT</button>
        </div>
        <div class="col-sm">
          <button type="button" class="btn btn-primary btn-mg">SEE TEMPLATE</button>
        </div>
        <div class="col-sm">
          <button type="button" class="btn btn-primary btn-mg">PREVIEW</button>
        </div>
        <div class="col-sm" style="float: right;">
          <button type="button" class="btn btn-primary btn-mg">EXPORT</button>
        </div>

      </div>
    </div>
    <div class="container" style="margin-top: 50px;">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="col-sm">
              <h5 class="sub-headings">NOTICES/LETTERS</h5>
              <button type="button" class="btn btn-secondary">Sent by Claimant</button><br>
              <button type="button" class="btn btn-secondary">Received by Claimant</button><br>
            </div>
            <div class="col-sm" style="margin-top: 50px;">
              <h5 class="sub-headings">REPORTS</h5>
              <button type="button" class="btn btn-secondary">Daily Report</button><br>
              <button type="button" class="btn btn-secondary">Weekly Report</button><br>
              <button type="button" class="btn btn-secondary">Monthly Report</button>
            </div>
            <div class="col-sm" style="margin-top: 50px;">
              <h5 class="sub-headings">PROGRAMMES</h5>
              <button type="button" class="btn btn-secondary">Accepted Program</button><br>
              <button type="button" class="btn btn-secondary">Non-Accepted Program</button><br>
            </div>
          </div>
          <div class="col-sm">
            <div class="col-sm">
              <h5 class="sub-headings">CLAIMS</h5>
              <button type="button" class="btn btn-secondary">Claim by Claimant</button><br>
              <button type="button" class="btn btn-secondary">Claim Reply by Defendant</button><br>
              <button type="button" class="btn btn-secondary">Claim by Subcontractor</button>
            </div>
            <div class="col-sm" style="margin-top: 50px;">
              <h5 class="sub-headings">OTHER DOCUMENTS</h5>
              <button type="button" class="btn btn-secondary">Delayed Payments (Only cover letter and Payment
                Summary)</button><br>
              <button type="button" class="btn btn-secondary">Submittals - Drawing</button><br>
              <button type="button" class="btn btn-secondary">Submittals - Material</button>
              <button type="button" class="btn btn-secondary">Submittals - Others</button>
              <button type="button" class="btn btn-secondary">Emails</button>
              <button type="button" class="btn btn-secondary">Other Documents</button>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
