<div class="main-card card">
  <div class="white-line" style="z-index: 2;">
  </div>
  <div class=" main-card-heading" style="z-index: 2;">
    <div style=" display: inline"></div>
    <h5 class=" card-header">Contemporary records</h5>
  </div>
  <div class="main-card-body card-body">
    <!-- body elements -->
    <div style="margin-left: 10px; margin-top: 20px;">

      <div class="row" style="margin-bottom: 40px;">
        <div class="col-sm">
          <button type="button" class="btn btn-info btn-mg">IMPORT</button>
          <button type="button" class="btn btn-info btn-mg" style="margin-left: 40px;">SEE TEMPLATE</button>
          <button type="button" class="btn btn-info btn-mg" style="margin-left: 40px;">PREVIEW</button>
        </div>
        <div class="col-sm-2" style="text-align: right;">
          <button type="button" class="btn btn-info btn-mg">EXPORT</button>
        </div>
        <div class="col-sm-1">

        </div>
      </div>

      <div class="row">
        <div class="col-sm" style="padding-left: 0;">
          <div class="col-sm">
            <h5 class="sub-headings">NOTICES/LETTERS</h5>
            <button type="button" class="btn btn-primary">Sent by Claimant</button><br>
            <button type="button" class="btn btn-primary">Received by Claimant</button><br>
          </div>
          <div class="col-sm" style="margin-top: 40px;">
            <h5 class="sub-headings">REPORTS</h5>
            <button type="button" class="btn btn-primary">Daily Report</button><br>
            <button type="button" class="btn btn-primary">Weekly Report</button><br>
            <button type="button" class="btn btn-primary">Monthly Report</button>
          </div>
          <div class="col-sm" style="margin-top: 40px;">
            <h5 class="sub-headings">PROGRAMMES</h5>
            <button type="button" class="btn btn-primary">Accepted Program</button><br>
            <button type="button" class="btn btn-primary">Non-Accepted Program</button><br>
          </div>
        </div>
        <div class="col-sm">
          <div class="col-sm">
            <h5 class="sub-headings">CLAIMS</h5>
            <button type="button" class="btn btn-primary">Claim by Claimant</button><br>
            <button type="button" class="btn btn-primary">Claim Reply by Defendant</button><br>
            <button type="button" class="btn btn-primary">Claim by Subcontractor</button>
          </div>
          <div class="col-sm" style="margin-top: 40px;">
            <h5 class="sub-headings">OTHER DOCUMENTS</h5>
            <button type="button" class="btn btn-primary">Delayed Payments (Only cover letter and Payment
              Summary)</button><br>
            <button type="button" class="btn btn-primary">Submittals - Drawing</button><br>
            <button type="button" class="btn btn-primary">Submittals - Material</button>
            <button type="button" class="btn btn-primary">Submittals - Others</button>
            <button type="button" class="btn btn-primary">Emails</button>
            <button type="button" class="btn btn-primary">Other Documents</button>
            <button type="submit" class="btn btn-secondary float-right">Next</button>

          </div>
        </div>
        <div class="col-sm-1">

        </div>

      </div>
    </div>
  </div>
</div>
