<div class="main-card card">
  <div class="white-line">
  </div>
  <div class="main-card-heading">
    <div style=" display: inline"></div>
    <h5 class=" card-header">Get Strated</h5>
  </div>
  <div class="main-card-body card-body">
    <!-- body elements -->
    <div class="container">

      <div class="row">

        <!-- claimant  -->
        <div class="col">
          <div class="claimant-project-cards card" style="width: 18rem;">
            <div class="card-body">


              <div class="container" style="padding: 0;">
                <div class="row">
                  <div class="col-sm">
                    <h5>Claimants</h5>
                  </div>
                  <div class="col-sm">
                    <button type="button" class="btn btn-primary btn"
                      style="margin-left: 100px; color: #fbb335; background-color: #305496;">Add New&nbsp;
                      <i i-bs name="plus-circle"></i></button>
                  </div>
                </div>
              </div>


              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Tharinda Hashen Kottegoda</td>
                    <td> <i i-bs name="pencil-square"></i>&nbsp;
                      <i i-bs name="archive-fill"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Jacob</td>
                    <td> <i i-bs name="pencil-square"></i>&nbsp;
                      <i i-bs name="archive-fill"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Mark</td>
                    <td> <i i-bs name="pencil-square"></i>&nbsp;
                      <i i-bs name="archive-fill"></i>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- project  -->
        <div class="col">
          <div class="claimant-project-cards card" style="width: 18rem;">
            <div class="card-body">


              <div class="container" style="padding: 0;">
                <div class="row">
                  <div class="col-sm">
                    <h5>Projects</h5>
                  </div>
                  <div class="col-sm">
                    <button type="button" class="btn btn-primary btn"
                      style="margin-left: 100px; color: #fbb335; background-color: #305496;">Add New&nbsp;
                      <i i-bs name="plus-circle"></i></button>
                  </div>
                </div>
              </div>


              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Port Citya</td>
                    <td> <i i-bs name="pencil-square"></i>&nbsp;
                      <i i-bs name="archive-fill"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Construction VA</td>
                    <td> <i i-bs name="pencil-square"></i>&nbsp;
                      <i i-bs name="archive-fill"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Mark</td>
                    <td> <i i-bs name="pencil-square"></i>&nbsp;
                      <i i-bs name="archive-fill"></i>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>

      <div class="row" style="margin-top: 20px;">

        <!-- contract  -->
        <div class="col">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
            </div>
          </div>
        </div>

        <!-- events  -->
        <div class="col">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
            </div>
          </div>
        </div>

        <!-- other  -->
        <div class="col">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
