<div class="main-card card">
  <div class="white-line" style="z-index: 2;">
  </div>
  <div class=" main-card-heading" style="z-index: 2;">
    <div style=" display: inline"></div>
    <h5 class=" card-header">Get Strated</h5>
  </div>
  <div class="main-card-body card-body">
    <!-- body elements -->
    <div class="container">

      <div class="row">

        <!-- claimant  -->
        <div class="col ">
          <div class="claimant-project-cards card">
            <div class="card-body">


              <div class="container" style="padding: 0;">
                <div class="row">
                  <div class="col-sm">
                    <h5 class="card-header-h5">Claimants</h5>
                  </div>
                  <div class="col-sm">
                    <button type="button" class="btn btn-primary btn"
                      style="margin-left: 150px; width: 130px; color: #fbb335; background-color: #305496;">Add New&nbsp;
                      <i i-bs name="plus-circle"></i></button>
                  </div>
                </div>
              </div>
              <br>


              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col"></th>


                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Tharinda Hashen Kottegoda</td>
                    <td> <i i-bs name="pencil-square" class="edit-icon"></i>&nbsp;
                      <i i-bs name="archive-fill" class="delete-icon"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Jacob</td>
                    <td> <i i-bs name="pencil-square" class="edit-icon"></i>&nbsp;
                      <i i-bs name="archive-fill" class="delete-icon"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Mark</td>
                    <td> <i i-bs name="pencil-square" class="edit-icon"></i>&nbsp;
                      <i i-bs name="archive-fill" class="delete-icon"></i>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- project  -->
        <div class="col">
          <div class="claimant-project-cards card">
            <div class="card-body">


              <div class="container" style="padding: 0; ">
                <div class="row">
                  <div class="col-sm">
                    <h5 class="card-header-h5">Projects</h5>
                  </div>
                  <div class="col-sm">
                    <button type="button" class="btn btn-primary btn"
                      style="margin-left: 150px; width: 130px; color: #fbb335; background-color: #305496;">Add
                      New&nbsp;
                      <i i-bs name="plus-circle"></i></button>
                  </div>
                </div>
              </div>
              <br>


              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col"></th>


                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Port Citya</td>
                    <td> <i i-bs name="pencil-square" class="edit-icon"></i>&nbsp;
                      <i i-bs name="archive-fill" class="delete-icon"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Construction VA</td>
                    <td> <i i-bs name="pencil-square" class="edit-icon"></i>&nbsp;
                      <i i-bs name="archive-fill" class="delete-icon"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Mark</td>
                    <td> <i i-bs name="pencil-square" class="edit-icon"></i>&nbsp;
                      <i i-bs name="archive-fill" class="delete-icon"></i>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>

      <div class="row" style="margin-top: 20px;">

        <!-- contract  -->
        <div class="col">
          <div class="card con-event-other" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-header-h5">Contracts</h5>
              <table class="table table-borderless">
                <thead>
                  <tr>

                    <th scope="col"></th>
                    <th scope="col">
                      Original
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>CONTRACT PRICE</td>
                    <td>##</td>
                  </tr>
                  <tr>
                    <td>CONTRACT DURATION</td>
                    <td>##</td>
                  </tr>
                  <tr>
                    <td>CONTRACT COMPLETION DATE</td>
                    <td>##</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- events  -->
        <div class="col">
          <div class="card con-event-other" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-header-h5">Events</h5>
              <table class="table table-borderless">
                <thead>
                  <tr>

                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>TOTAL EVENTS</td>
                    <td>##</td>
                  </tr>
                  <tr>
                    <td>CLAIMABLE EVENTS</td>
                    <td>##</td>
                  </tr>
                  <tr>
                    <td>CLAIMED EVENTS</td>
                    <td>##</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- other  -->
        <div class="col">
          <div class="card con-event-other" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-header-h5">Other</h5>
              <table class="table table-borderless">
                <thead>
                  <tr>

                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- set values function -->
    <!-- <div class="container">
      <h5 style="color: #fbb335; text-decoration: underline;">SET</h5>
      <div class="container" style="margin-top: 20px;">
        <div class="row">
          <div class="col-sm-1">
            Format </div>
          <div class="col-sm-3">
            Date
            <input type="text">
          </div>
          <div class="col-sm-4">
            Currency Format <input type="text">
          </div>
          <div class="col-sm-4">
            Decimal Places
            <input type="text">
          </div>
        </div>
      </div>
      <div class="container" style="margin-top: 20px;">
        <div class="row">
          <div class="col-sm-1">
            Referred As </div>
          <div class="col-sm-3">
            Contract As
            <input type="text">
          </div>
          <div class="col-sm-4">
            Claimant As
            <input type="text">
          </div>
          <div class="col-sm-4">
            Defendant As
            <input type="text">
          </div>
        </div>
      </div>
    </div> -->

  </div>
  <!-- new body -->
  <div class="white-line" style="padding: 0; margin: 0;">
  </div>
  <div class="main-card-body card-body">
    <h5 style="color: #fbb335; text-decoration: underline; margin-left: 20px;">SET</h5>
    <br>
    <form>
      <div class="form-row">

        <div style="margin-top:3px; width: 100px; margin-left: 25px;">
          <h6 style="color: #305496;">Format</h6>
        </div>

        <div class="col set-inputs">
          <label for="inputEmail4">Date</label>
          <div class="input-group mb-3">
            <input type="date" min="1" max="100" class="form-control" placeholder="date">
          </div>
        </div>

        <div class="col set-inputs">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Currency Format</label>
            <input type="number" class="form-control" placeholder="Currency Format">
          </div>
        </div>

        <div class="col set-inputs">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Decimal Places</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>0</option>
              <option>1</option>
              <option>2</option>
            </select>
          </div>
        </div>

      </div>
    </form>

    <form>
      <div class="form-row">

        <div style=" margin-top:3px; width: 100px; margin-left: 25px;">
          <h6 style="color: #305496;">Referrred As</h6>
        </div>

        <div class="col set-inputs">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Contract As</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Contract</option>
              <option>Sub-Contract</option>
              <option>Other</option>
            </select>
            <input style="margin-top: 10px;" type="text" class="form-control" placeholder="Other">
          </div>
        </div>

        <div class="col set-inputs">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Claimant As</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Claimant</option>
              <option>Defendant</option>
              <option>Client</option>
              <option>Employer</option>
              <option>Contractor</option>
              <option>Main Contractor</option>
              <option>Sub Contractor</option>
              <option>Sub Contractor</option>
              <option>Supplier</option>
            </select>
            <input style="margin-top: 10px;" type="text" class="form-control" placeholder="Other">
          </div>
        </div>

        <div class="col set-inputs">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Defendant As</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Defendant</option>
              <option>Client</option>
              <option>Employer</option>
              <option>Contractor</option>
              <option>Main Contractor</option>
              <option>Sub Contractor</option>
              <option>Supplier</option>
              <option>1st Party</option>
            </select>
            <input style="margin-top: 10px;" type="text" class="form-control" placeholder="Other">
          </div>
        </div>

      </div>
      <br>
      <button type="submit" class="btn btn-secondary float-right">Next</button>

    </form>


  </div>
</div>
