<form style="margin-top: 20px;">
  <h5 class="h5-heading">Contract Amendment</h5>

  <div class="form-row">

    <div class="col">
      <label for="inputEmail4">Status</label>
      <input type="text" class="form-control" placeholder="Status" #projectStatus="ngModel"
        [(ngModel)]="cpService.selectedCp.projectStatus" name="projectStatus">
    </div>

    <div class="col">
      <label for="inputEmail4">Latest Contract Amendment Reference</label>
      <input type="text" class="form-control" placeholder="Reference" #latestAmendmentReference="ngModel"
        [(ngModel)]="cpService.selectedCp.latestAmendmentReference" name="latestAmendmentReference">
    </div>

  </div>
  <div class="form-row">

    <div class="col">
      <label for="inputEmail4">Reviesd Contract Price</label>
      <div class="form-inline">
        <input type="text" class="form-control" style="width: 20%;" #currency="ngModel"
          [(ngModel)]="cpService.selectedCp.currency" name="currency" disabled>
        <input type="number" class="form-control" placeholder="Price" style="width: 80%;"
          #revisedContractPrice="ngModel" [(ngModel)]="cpService.selectedCp.revisedContractPrice"
          name="revisedContractPrice">
      </div>
    </div>

    <div class="col">
      <label for="inputEmail4">Reviesd Contract Duration</label>
      <div class="form-inline">
        <input type="text" class="form-control" style="width: 20%;" disabled #durationUnit="ngModel"
          [(ngModel)]="cpService.selectedCp.durationUnit" name="durationUnit">
        <input type="number" class="form-control" placeholder="Duration" style="width: 80%;"
          #revisedContractDuration="ngModel" [(ngModel)]="cpService.selectedCp.revisedContractDuration"
          name="revisedContractDuration">
      </div>
    </div>

  </div>


  <button type="submit" class="btn btn-secondary float-right">Next</button>
</form>
