.col {
  padding: 5px 100px 5px 10px;
}

.btn-secondary {
  background-color: #fbb335;
  color: #305496;
  position: relative;
  margin: 110px 90px 0px 0px;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  background-color: #305496 !important;
  color: #fbb335 !important;
  margin: 110px 90px 0px 0px;
}
