<form style="margin-top: 20px;">
  <div class="form-row">

    <div class="col">
      <label for="inputEmail4">Status</label>

      <input type="text" class="form-control" placeholder="Status">
    </div>
    <div class="col">
      <label for="inputEmail4">Latest Contract Amendment Reference</label>

      <input type="text" class="form-control" placeholder="Reference">
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <label for="inputEmail4">Reviesd Contract Price</label>

      <input type="text" class="form-control" placeholder="Price">
    </div>
    <div class="col">
      <label for="inputEmail4">Reviesd Contract Duration</label>

      <input type="text" class="form-control" placeholder="Duration">
    </div>
  </div>


  <button type="submit" class="btn btn-secondary float-right">Next</button>
</form>
