<form style="margin-top: 20px;" #cpCoditionsForm="ngForm"
  (ngSubmit)="cpCoditionsForm.valid && addConditions(cpCoditionsForm)">
  <h5 class="h5-heading">Condition of Contract</h5>

  <div class="form-row">

    <div class="col">
      <label for="inputEmail4">Clauses</label>

      <textarea type="text" cols="30" rows="5" class="form-control textarea" placeholder="conditions.."
        #claimCause="ngModel" [(ngModel)]="cpService.selectedCp.claimCause" name="claimCause"></textarea>
    </div>

  </div>

  <button type="submit" class="btn btn-secondary float-right">Next</button>
</form>
