<div class="main-card card">
  <div class="white-line" style="z-index: 2;">
  </div>
  <div class=" main-card-heading" style="z-index: 2;">
    <div style=" display: inline"></div>
    <h5 class=" card-header">Events</h5>
  </div>
  <div class="main-card-body card-body">
    <!-- body elements -->
    <div class="container ">
      <div class="row " style="float: center;">
        <div class="col-sm ">
          <button type="button" class="btn btn-primary btn-mg">ADD EVENTS</button>
        </div>
        <div class="col-sm">
          <button type="button" class="btn btn-primary btn-mg">EDIT EVENTS</button>
        </div>
        <div class="col-sm">
          <button type="button" class="btn btn-primary btn-mg">DELETE EVENTS</button>
        </div>
        <div class="col-sm" style="float: right;">
          <button type="button" class="btn btn-primary btn-mg">EXPORT</button>
        </div>

      </div>
    </div>

    <div class="container" style="margin-top: 25px;">
      <table class=" table table-bordered" style="background-color: white;">
        <thead>
          <tr>
            <th scope="col">Event ID</th>
            <th scope="col">Event Description</th>
            <th scope="col">Event Type</th>
            <th scope="col">Impact Start Date</th>
            <th scope="col">Impact End Date</th>
            <th scope="col">Impacted Days on Completion</th>
            <th scope="col">Extended Contract Duration before the event in Days</th>
            <th scope="col">Planned Earned Value at Start in Currency</th>
            <th scope="col">Actual Earned Value at Start in Currency</th>
            <th scope="col">Planned Earned Value at End Currency</th>
            <th scope="col">Actual Earned Value at End in Currency</th>
            <th scope="col">Cost Claimable</th>
            <th scope="col">Time Claim Reference</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
