<div class="main-card card">
  <div class="white-line" style="z-index: 2;">
  </div>
  <div class=" main-card-heading" style="z-index: 2;">
    <div style=" display: inline"></div>
    <h5 class=" card-header">Events</h5>
  </div>
  <div class="main-card-body card-body">
    <!-- body elements -->
    <!-- <div class="container ">
      <div class="row " style="float: center;">
        <div class="col-sm ">
          <button type="button" class="btn btn-primary btn-mg">ADD EVENTS</button>
        </div>
        <div class="col-sm">
          <button type="button" class="btn btn-primary btn-mg">EDIT EVENTS</button>
        </div>
        <div class="col-sm">
          <button type="button" class="btn btn-primary btn-mg">DELETE EVENTS</button>
        </div>
        <div class="col-sm" style="float: right;">
          <button type="button" class="btn btn-primary btn-mg">EXPORT</button>
        </div>

      </div>
    </div> -->

    <div>
      <div class="row" style="margin-bottom: 20px;">
        <div class="col-sm">
          <button type="button" class="btn btn-primary btn" style="color: #fbb335; background-color: #305496;"
            (click)="open(mymodal)">Add
            Events&nbsp;
            <i i-bs name="plus-circle"></i></button>
        </div>
        <div class="col-sm" style="text-align: right;">
          <button type="button" class="btn btn-primary btn" style="color: #305496; background-color: #fbb335;">Export
          </button>
        </div>
      </div>
      <table class=" table table-bordered">
        <thead style="color: #305496;">
          <tr>
            <th scope="col">Event ID</th>
            <th scope="col">Event Description</th>
            <th scope="col">Event Type</th>
            <th scope="col">Impact Start Date</th>
            <th scope="col">Impact End Date</th>
            <th scope="col">Impacted Days on Completion</th>
            <th scope="col">Extended Contract Duration before the event in Days</th>
            <th scope="col">Planned Earned Value at Start in Currency</th>
            <th scope="col">Actual Earned Value at Start in Currency</th>
            <th scope="col">Planned Earned Value at End Currency</th>
            <th scope="col">Actual Earned Value at End in Currency</th>
            <th scope="col">Cost Claimable</th>
            <th scope="col">Time Claim Reference</th>
            <th></th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of eventsList">
            <td>{{event.eventID}}</td>
            <td>{{event.description}}</td>
            <td>{{event.type}}</td>
            <td>{{event.startDate}}</td>
            <td>{{event.endDate}}</td>
            <td>{{event.daysOnCompletion}}</td>
            <td>{{event.extendedContractDuaration}}</td>
            <td>{{event.pevAtStart}}</td>
            <td>{{event.pevAtEnd}}</td>
            <td>{{event.aevAtStart}}</td>
            <td>{{event.aevAtEnd}}</td>
            <td>{{event.costClaimable}}</td>
            <td>{{event.timeClaimReference}}</td>
            <td style="min-width: 70px;"> <i i-bs name="pencil-square" class="edit-icon"></i>&nbsp;&nbsp;&nbsp;
              <i i-bs name="archive-fill" class="delete-icon"></i>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="submit" class="btn btn-secondary float-right">Next</button>

    </div>

  </div>

  <!-- model for add new events -->
  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add New Event</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <form>

      <div class="modal-body">

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="inputEmail4">Event ID</label>
            <input type="text" placeholder="ID" class="form-control" id="inputEmail4">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputPassword4">Event Description</label>
            <input type="text" placeholder="Description" class="form-control" id="inputPassword4">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Event Type</label>
            <input type="text" placeholder="Type" class="form-control" id="inputEmail4">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputPassword4">Impact Start Date</label>
            <input type="text" placeholder="Start Date" class="form-control" id="inputPassword4">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Impact End Date</label>
            <input type="text" placeholder="End Date" class="form-control" id="inputEmail4">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputPassword4">Impacted Days on Completion &nbsp; &nbsp; </label>
            <input type="text" placeholder="Impacted Days" class="form-control" id="inputPassword4">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Extended Contract Duration before the event in Days</label>
            <input type="text" placeholder="Extended Contract Duration" class="form-control" id="inputEmail4">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputPassword4">Planned Earned Value at Start in Currency</label>
            <input type="text" placeholder="Planned Earned Value" class="form-control" id="inputPassword4">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Actual Earned Value at Start in Currency</label>
            <input type="text" placeholder="Actual Earned Value" class="form-control" id="inputEmail4">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputPassword4">Planned Earned Value at End Currency</label>
            <input type="text" placeholder="Planned Earned Value" class="form-control" id="inputPassword4">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Actual Earned Value at End in Currency</label>
            <input type="text" placeholder="Actual Earned Value" class="form-control" id="inputEmail4">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputPassword4">Cost Claimable</label>
            <input type="text" placeholder="Cost Claimable" class="form-control" id="inputPassword4">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Time Claim Reference</label>
            <input type="text" placeholder="Time Claim Reference" class="form-control" id="inputPassword4">
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-secondary" (click)="modal.close('Save click')">Add Event</button>
      </div>
    </form>

  </ng-template>
</div>
