<div class="main-card card">
  <form #fpForm="ngForm" (ngSubmit)="fpForm.valid && addFp(fpForm)">
    <div class="white-line" style="z-index: 2;">
    </div>
    <div class=" main-card-heading" style="z-index: 2;">
      <div style=" display: inline"></div>
      <h5 class="h5-heading" class=" card-header">Financial Particular</h5>
    </div>
    <div class="main-card-body card-body">
      <!-- body elements -->
      <!-- overhead and profit -->
      <h5 class="h5-heading">overhead and profit</h5>
      <div class="form-row">

        <div class="col">
          <label for="inputEmail4">Head Office Overhead Percentage</label>
          <div class="input-group mb-3">
            <input type="number" min="1" max="100" class="form-control" placeholder="Overhead Percentage"
              #hoOverheadPercentage="ngModel" [(ngModel)]="fpService.selectedFp.hoOverheadPercentage"
              name="hoOverheadPercentage">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">%</span>
            </div>
          </div>
        </div>

        <div class="col">
          <label for="inputEmail4">Profit Percentage</label>
          <div class="input-group mb-3">
            <input type="number" min="1" max="100" class="form-control" placeholder="Profit" #profitPercentage="ngModel"
              [(ngModel)]="fpService.selectedFp.profitPercentage" name="profitPercentage">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">%</span>
            </div>
          </div>
        </div>

      </div>

    </div>

    <!-- finance change -->
    <div class="white-line" style="padding: 0; margin: 0;">
    </div>
    <div class="main-card-body card-body">

      <h5 class="h5-heading">finance change (interest)</h5>

      <div class="form-row">
        <div class="col">
          <label for="inputEmail4">Yearly Interest</label>
          <div class="input-group mb-3">
            <input type="number" min="1" max="100" class="form-control" placeholder="Interest" #yearlyInterest="ngModel"
              [(ngModel)]="fpService.selectedFp.yearlyInterest" name="yearlyInterest">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">%</span>
            </div>
          </div>
        </div>
        <div class="col">


          <div class="form-group">
            <label for="exampleFormControlSelect1">Interest Type</label>
            <select class="form-control" id="exampleFormControlSelect1" #interestType="ngModel"
              [(ngModel)]="fpService.selectedFp.interestType" name="interestType">
              <option [value]="'simple'">Simple Interest</option>
              <option [value]="'compound'">Compound Interest</option>
            </select>
          </div>

          <br>

          <div class="form-group">
            <label for="exampleFormControlSelect1">Compounding Period</label>
            <select class="form-control" id="exampleFormControlSelect1" #compoundingPeriod="ngModel"
              [(ngModel)]="fpService.selectedFp.compoundingPeriod" name="compoundingPeriod">
              <option [value]="'Daily'">Daily</option>
              <option [value]="'Weekly'">Weekly</option>
              <option [value]="'Monthly'">Monthly</option>
              <option [value]="'Quarterly'">Quarterly</option>
              <option [value]="'Half-yearly'">Half-yearly</option>
              <option [value]="'Yearly'">Yearly</option>
              <option [value]="'None'">None</option>
            </select>
          </div>
        </div>
      </div>

    </div>

    <!-- audit information -->
    <div class="white-line" style="padding: 0; margin: 0;">
    </div>
    <div class="main-card-body card-body">
      <h5 class="h5-heading">audit information in *</h5>
      <div class="row" style="margin-top: 25px;">
        <div class="col-sm" style="padding-right: 0; margin-left: 1px;">
          <h6 class="h6-audit">For Annual</h6>
        </div>
        <div class="col-sm" style="padding: 0; margin: 0;">
          <h6 class="h6-audit">For Actual Period of Performance</h6>
        </div>
      </div>

      <div class="form-row">

        <div class="col">
          <label for="inputEmail4">Turnover of Company</label>
          <div class="input-group mb-3">
            <input type="number" min="1" max="100" class="form-control" placeholder="Turnover" #annualTurnover="ngModel"
              [(ngModel)]="fpService.selectedFp.annualTurnover" name="annualTurnover">
            <div class="input-group-append">
              <!-- <span class="input-group-text" id="basic-addon2">$</span> -->
            </div>
          </div>
        </div>

        <div class="col">
          <label for="inputEmail4">Turnover of Company</label>
          <div class="input-group mb-3">
            <input type="number" min="1" max="100" class="form-control" placeholder="Turnover" #actualTurnover="ngModel"
              [(ngModel)]="fpService.selectedFp.actualTurnover" name="actualTurnover">
            <div class="input-group-append">
              <!-- <span class="input-group-text" id="basic-addon2">$</span> -->
            </div>
          </div>
        </div>

      </div>

      <div class="form-row">

        <div class="col">
          <label for="inputEmail4">HO Overhead Cost</label>
          <div class="input-group mb-3">
            <input type="number" min="1" max="100" class="form-control" placeholder="Overhead Cost"
              #annualHOOC="ngModel" [(ngModel)]="fpService.selectedFp.annualHOOC" name="annualHOOC">
            <div class="input-group-append">
              <!-- <span class="input-group-text" id="basic-addon2">$</span> -->
            </div>
          </div>
        </div>

        <div class="col">
          <label for="inputEmail4">HO Overhead Cost</label>
          <div class="input-group mb-3">
            <input type="number" min="1" max="100" class="form-control" placeholder="Overhead Cost"
              #actualHOOC="ngModel" [(ngModel)]="fpService.selectedFp.actualHOOC" name="actualHOOC">
            <div class="input-group-append">
              <!-- <span class="input-group-text" id="basic-addon2">$</span> -->
            </div>
          </div>
        </div>

      </div>

      <div class="form-row">

        <div class="col">
          <label for="inputEmail4">Profit</label>
          <div class="input-group mb-3">
            <input type="number" min="1" max="100" class="form-control" placeholder="Profit" #annualProfit="ngModel"
              [(ngModel)]="fpService.selectedFp.annualProfit" name="annualProfit">
            <div class="input-group-append">
              <!-- <span class="input-group-text" id="basic-addon2">$</span> -->
            </div>
          </div>
        </div>

        <div class="col">
          <label for="inputEmail4">Profit</label>
          <div class="input-group mb-3">
            <input type="number" min="1" max="100" class="form-control" placeholder="Profit" #actualProfit="ngModel"
              [(ngModel)]="fpService.selectedFp.actualProfit" name="actualProfit">
            <div class="input-group-append">
              <!-- <span class="input-group-text" id="basic-addon2">$</span> -->
            </div>
          </div>
        </div>

      </div>
      <div class="main-card-body card-body" style="height: 100px;">

        <button type="submit" class="btn btn-secondary float-right">Next</button>
      </div>

    </div>
  </form>

</div>
